/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: rgb(10, 10, 10);
}

p {
  line-height: 2rem;
}

nav {
  position:relative;
  text-align: center;
}


/* .sidenav-trigger {
  color: #011614;
} */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(10, 10, 10, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer-teal {
  margin: 0;
  background-color: black;
}

.parallax{
  max-width: 100%;
  height: auto;
}

h1 .header {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

h5{
  font-family: 'Comfortaa', cursive;
}

.container{
  font-family: 'News Cycle', sans-serif;
  color: white;
}

.form-control{
  color: rgb(218, 123, 123);
}

.header{
  text-shadow: 1px 1px 2px rgb(224, 133, 133);
}

.material-icons {
  color: black;
  text-shadow: 1px 1px 2px red;
}


.teal-text.text-lighten-2 {
color: black !important;
}

.circle {
text-align: center;
position: absolute;
top:-5px;
left:50%;
width:90px;
margin-left:-45px;

}


@keyframes color {
  0%  {background-color:   #868383;}
  20.0%  {background-color:#080808;} 
  40.0% {background-color: #b44040;}
  60.0% {background-color: #c97b6d;}
  80.0% {background-color: #df6565 ;} 
  
  100.0% {background-color:#6e7070;}  
  }
  body{
      animation-name: color;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      color:white;
  }